{
    email homelab-caddy@rida.dev
}

jellyfin.homelab.rida.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy jellyfin:8096
}

ollama.homelab.rida.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy ollama:11434
}
