(cloudflare) {
  dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  resolver 1.1.1.1 1.0.0.1
}

pihole.rida.sh {
    import cloudflare
    reverse_proxy pihole:80
}

jellyfin.rida.sh {
    import cloudflare
    reverse_proxy jellyfin:8096
}

ollama.rida.sh {
    import cloudflare
    reverse_proxy ollama:11434
}

open-webui.rida.sh {
    import cloudflare
    reverse_proxy open-webui:8080
}
