{
    email homelab-caddy@rida.dev
    servers {
        trusted_proxies static 100.64.0.0/10 172.20.0.0/16
    }
}

jellyfin.homelab.rida.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy jellyfin:8096
}

ollama.homelab.rida.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
    reverse_proxy ollama:11434
}
