(cloudflare) {
    tls {
        propagation_timeout -1
        propagation_delay 1m
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}

adguard.{env.DOMAIN} {
    reverse_proxy adguard:3000
    import cloudflare
}

jellyfin.{env.DOMAIN} {
    reverse_proxy jellyfin:8096
    import cloudflare
}

ollama.{env.DOMAIN} {
    reverse_proxy ollama:11434
    import cloudflare
}

open-webui.{env.DOMAIN} {
    reverse_proxy open-webui:8080
    import cloudflare
}

