(cloudflare) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    resolvers 1.1.1.1 1.0.0.1
  }
}

pihole.{env.CADDY_DOMAIN} {
    reverse_proxy pihole:80
    import cloudflare
}

jellyfin.{env.CADDY_DOMAIN} {
    reverse_proxy jellyfin:8096
    import cloudflare
}

ollama.{env.CADDY_DOMAIN} {
    reverse_proxy ollama:11434
    import cloudflare
}

open-webui.{env.CADDY_DOMAIN} {
    reverse_proxy open-webui:8080
    import cloudflare
}
